
 <section class="hero-section">
    <div class="card-grid">
      <a class="card" [routerLink]="['/pages/InformationUtiles/Marche']">
        <div class="card__background" style="background-image: url( ../../../../assets/images/fruits.jpg)">
        </div>
        <div class="card__content">
          <p class="card__category">Informations Utiles</p>
          <h3   class="card__heading">Produits marocains dans les Marchés internationnaux
          </h3>
        </div>
      </a>
      <a class="card" [routerLink]="['/pages/InformationUtiles/Barrage']">
        <div class="card__background" style="background-image: url(../../../../assets/images/damwater.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Informations Utiles</p>
          <h3 class="card__heading">Situation des Barrages</h3>
        </div>
      </a>
      <a class="card" [routerLink]="['/pages/InformationUtiles/Phyto']">
        <div class="card__background" style="background-image: url(../../../../assets/images/phyto.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Informations Utiles</p>
          <h3 class="card__heading">Produits Phytosanitaires</h3>
        </div>
      </a>

    </div>
  </section>