<div class="progress top-news">
     <div class="progress-bar progress-bar-warning-dark top-news-title" style="background-image: linear-gradient(to right, #94cbff, #42aaff);" role="progressbar">
      <h2>Actualités</h2>
    </div>
    <div class="progress-bar progress-bar-warning top-news-item" role="progressbar">
      <div class="marquee">
        <p>
          <span  *ngFor='let item of news'><a class="newhref" href="{{item.link}}" target="_blank">{{item.Title}}</a> <i class="fas fa-circle"></i></span>
        
        </p>
      </div>
    </div>
  </div>





















  