
<div class="full-screen-size-fixed-container d-flex justify-content-center align-items-center">
    <div class="p-3 text-center shadow">
        <!-- <h1 class="display-1 font-weight-bold ">Capteurs</h1> -->
        <h4 class="text-muted">Aucun capteur trouvé</h4>
        <!-- <p class=""></p> -->
        <a style="color: white;margin-right: 30px;" class="btn btn-primary" routerLink="/pages/iot-dashboard" role="button"><i class="fas fa-house-user mr-2"></i> Aller au Dashboard</a>
  
        <a style="color: white;" class="btn btn-primary" routerLink="/pages/iot-dashboard" role="button"><i class="fas fa-house-user mr-2"></i> Contactez-nous pour plus d'inforamtion</a>
    </div>
</div>
