
 <section class="hero-section">
    <div class="card-grid">
      <a class="card" [routerLink]="['/pages/Adminstrator/compte']">
        <div class="card__background" style="background-image: url( ../../../../assets/images/8004.jpeg)">
        </div>
        <div class="card__content">
          <p class="card__category">Espace personel</p>
          <h3 class="card__heading">Compte</h3>
        </div>
      </a>
      <a class="card" [routerLink]="['/pages/Adminstrator/exploitation']">
        <div class="card__background" style="background-image: url(../../../../assets/images/8003.jpeg)"></div>
        <div class="card__content">
          <p class="card__category">Administration</p>
          <h3 class="card__heading">Exploitations</h3>
        </div>
      </a>
      <a class="card" [routerLink]="['/pages/Adminstrator/parcelle']">
        <div class="card__background" style="background-image: url(../../../../assets/images/8003.jpeg)"></div>
        <div class="card__content">
          <p class="card__category">Administration</p>
          <h3 class="card__heading">Parcelles</h3>
        </div>
      </a> 
      <a class="card"  >
        <div class="card__background card__background_none" style="background-image: url(../../../../assets/images/8005.jpeg)"></div>
        <div class="card__content">
          <p class="card__category">Administration</p>
          <h3 class="card__heading">Seuils</h3>
        </div>
    </a>
      <a class="card"  >
        <div class="card__background card__background_none" style="background-image: url(../../../../assets/images/8006.jpeg)"></div>
        <div class="card__content">
          <p class="card__category">Administration</p>
          <h3 class="card__heading">Capteurs</h3>
        </div>
      </a>
    
      <!-- <a class="card" [routerLink]="['/Adminstrator/seuils']">
        <div class="card__background" style="background-image: url( ../../../../assets/images/8002.jpeg)">
        </div>
        <div class="card__content">
          <p class="card__category">Paramétre</p>
          <h3 class="card__heading">Surveillance</h3>
        </div>
      </a> -->
      <a class="card"  >
        <div class="card__background card__background_none" style="background-image: url(../../../../assets/images/8001.jpeg)"></div>
        <div class="card__content">
          <p class="card__category">Source</p>
          <h3 class="card__heading">Informations</h3>
        </div>
      </a>
      
      <a class="card"  >
        <div class="card__background card__background_none" style="background-image: url(../../../../assets/images/licence.jpeg)"></div>
        <div class="card__content">
          <p class="card__category">Licence</p>
          <h3 class="card__heading">abonnements</h3>
        </div>
      </a>

      <a class="card" >
        <div class="card__background " style="background-image: url(../../../../assets/images/efM6raVcBv_.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Contact nous</p>
          <h3 class="card__heading">Support</h3>
        </div>
    </a>
    </div>
  </section>