.selectExp{
    
    float: right;
    margin-left:10px;
    width: 80%;

    @media (max-width: 420px) { 
        width: 100% !important;
        margin-left: 0px !important;
        float: none !important;
        margin-top: 10px;
        max-width: 25rem !important;

      }
}
